
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #FDF5E6;
  padding:5px;
}

.sourceCode
  { background-color: #ffffff; }
  
.title {
  margin-right: 350px;
}